.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  text-align: left; /* Left-align text */
}

.content {
  max-width: 600px;
  width: 100%;
  margin: auto;
  font-size: clamp(1.5rem, 2.5vw, 2rem); /* Responsive font size */
  padding-bottom: 60px; /* Ensure space for the down button */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  justify-content: center;
  height: 80vh; /* Maintain aspect ratio */
}

h1, h2, h3, p, .email-container, .filter-container {
  margin: 0;
  padding: 10px 0;
  font-size: inherit;
  font-weight: normal;
  text-align: left; /* Left-align each text element */
}

h1 {
  margin-bottom: 20px; /* Space after Welcome */
}

.email-container, .filter-container {
  display: flex;
  justify-content: flex-start; /* Align within the flex container */
  align-items: center;
  gap: 10px;
  margin: 30px 0; /* Consistent spacing */
}

.mail-button, .filter-button, .down-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Fixed width */
  height: 40px; /* Fixed height */
  border: 2px solid var(--button-border);
  background-color: var(--button-background);
  border-radius: 50%; /* Circular buttons */
  text-align: center;
  cursor: pointer;
  font-size: inherit;
}

.down-arrow {
  position: absolute;
  bottom: 20px; /* Consistent distance from bottom */
  left: 50%;
  transform: translateX(-50%);
}

.icon {
  width: 24px;
  height: 24px;
  color: var(--text); /* Default icon color same as text */
}

.mail-button {
  border-color: var(--blue);
  background-color: var(--blue);
}

.mail-button .icon {
  color: var(--background); /* Make icon color same as background */
}

.filter-button {
  border-color: var(--yellow);
  background-color: var(--yellow);
}

.filter-button .icon {
  color: var(--background); /* Make icon color same as background */
}

.down-arrow .icon {
  color: var(--text); /* Default text color for down arrow */
}

/* Adjust spacing between elements */
.scroll-to-see-works-of {
  margin-bottom: 0px; /* Reduced space between scroll text and filter container */
}

.filter-container {
  margin-top: 0px;
  margin-bottom: 0px; /* Less space between filter and down button */
}

@media (min-width: 600px) {
  .landing-page {
    padding-top: 30px; /* Adjust for larger screens */
  }
}

@media (min-width: 1200px) {
  .landing-page {
    padding-top: 50px; /* Adjust for very large screens */
  }

  .content {
    width: 80%; /* Adjust width for better alignment */
  }
}